.nav-item a,
.navbar-brand {
  color: white;
  font-size: 1.2rem;
}
header {
  width: 100%;
  height: 100vh;
  background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/edu_comet_large.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  font-size: 2rem;
  text-align: center;
  position: relative;
  top: 40%;
  color: white;
}
.jumbotron {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 60px;
  background-image: url("https://wallpaperaccess.com/full/1092758.jpg");
  color: white;
  text-align: center;
  width: 75vw;
  height: auto;
}
.jumbotron a {
  margin-top: 5%;
}
.info {
  margin: auto;
}
.info .who {
  text-align: right;
}
.schedule {
  background-image: url("https://wallpaperaccess.com/full/1092758.jpg");
}
.sched {
  margin: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  color: white;
  text-align: center;
}
li {
  list-style-type: none;
  line-height: 2rem;
}

.faq-full {
  background-image: url("https://wallpaperaccess.com/full/1092758.jpg");
}
.faq {
  margin: auto;
  margin-top: 3%;
  padding-top: 2%;
  margin-bottom: 3%;
  padding-bottom: 2%;
}
.faq h3 {
  text-align: center;
  color: white;
}
.plus {
  float: right;
}
.faq a {
  text-decoration: none;
  color: black;
}
.faq a .border:hover {
  color: red;
}
