body {
  margin: 0px;
  background: #040505;
  font-family: "Questrial", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #ece2d0;
}
.navbar {
  font-family: "Goldman", cursive;
  background-color: #040505;
}
.navbar-nav {
  float: right;
}
.nav-item a,
.navbar-brand {
  font-size: 1.2rem;
  color: #ece2d0;
}
.nav-item a:hover {
  color: #b80000;
}
header {
  width: 100%;
  height: 100vh;
}
#header a {
  background: #ece2d0;
}
.title {
  font-size: 3rem;
  text-align: center;
  position: relative;
  top: 30%;
  font-family: "Goldman", cursive;
}
.title h1 {
  font-size: 4.3rem;
}
.jumbotron {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 60px;
  background: #ece2d0;
  text-align: center;
  width: 75vw;
  height: auto;
}
.info {
  margin: auto;
}
.info p {
  font-size: 1.15rem;
}
.info .who {
  text-align: right;
}
.schedule {
  background-image: url("https://wallpaperaccess.com/full/1092758.jpg");
}
.sched {
  margin: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}
li {
  list-style-type: none;
  line-height: 2rem;
}

.faq-full {
  background: linear-gradient(190deg, #060111, #b98ea7);
}
.faq {
  margin: auto;
  margin-top: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.faq h2 {
  text-align: center;
}
.plus {
  float: right;
}
.faq a {
  text-decoration: none;
  color: black;
  background: #ece2d0;
}
.faq a .border:hover {
  color: #b80000;
}
.faq .card {
  color: black;
}
footer {
  margin-top: 2%;
}
